@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: outfit;
    height: 100vh;
    width: 100%;
}
.container{
    width: 300px;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.container img{
    width: 90%;
    border-radius: 4px;
    margin-top: 10px;
}
.text{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.text h3{
    padding: 10px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.4rem;
}
.text p{
    font-size: 15px;
    margin-bottom: 30px;
}
p{
    display: flex;
    flex-direction: column;
    color: hsl(220, 15%, 55%);
    align-items: center;
}